<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebPToolFolder" value ="C:\Users\d.hume\Dropbox\Blog\ImageOptimization\ImageOptimization\ImageOptimization\Tools"/>
    <add key="ImagesFolder" value ="C:\Users\d.hume\Dropbox\Blog\ImageOptimization\ImageOptimization\ImageOptimization\Images"/>
  </appSettings>
</configuration>