body {
font-family: 'Yanone Kaffeesatz', Arial, serif;
-webkit-font-smoothing: antialiased;
font-size: 25px;
}

h1 {
font-family: 'Lobster', Arial, serif;
font-size: 60px;
-webkit-font-smoothing: antialiased;

}

.font2 {
font-family: 'Lobster', cursive;
-webkit-font-smoothing: antialiased;
}

.font2 h2 {
    font-size: 20pt;
}

img.big {
    width: 500px;
}

.font2 img.small {
    width: 125px;
}

.font2 li {
    width: 515px;
    float: left;
    list-style-type: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.clearfix {
    *zoom: 1;
}

.links {
text-align: center;
margin-top: 5%;
margin: 0 auto;
width: 800px;
}

#links a {
text-decoration: none;
color: black;
}

.blurb {
font-size: 30px;
}

.links a:hover  {
border-bottom: 4px #26ade4 solid;
}

.MenuLink {
color: #26ade4;
text-decoration: none;
font-size: 50px;
}
.argentinaFlag {
width: 120px;
height: 75px;
background:url('/images/sprites/flag-sprite.png');
background-position: -120px -80px;
}

.austrianFlag {
width: 120px;
height: 75px;
background:url('/images/sprites/flag-sprite.png');
background-position: -240px -84px;
}

.underline  {
    border-bottom: 4px #26ade4 solid;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
    background: #26ade4;
    color: #fff;
    -webkit-box-shadow: 0px 0px 4px 2px gray;	
    box-shadow: 0px 0px 4px 2px gray;	
}

.footerTextLeft {
float: left;
padding-left: 40px;
margin-top: 10px;
}

.footerTextRight {
float: right;
margin-top: 10px;
padding-right: 40px;
}

.footerLink {
    color: white;
    text-decoration: none;
}

.footer a:hover  {
border-bottom: 4px white solid;
}

#flaglist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
text-align: center;
}