@{
    ViewBag.Title = "Compressive Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>Compressive Images</h1>
    <p class="blurb">By saving a JPG image at double size, 0% quality, and allow the browser to scale it to fit a smaller placeholder, you can reduce the image weight whilst increasing the bit depth; great for using one image for retina and non-retina displays.</p>
    <hr/>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-autumn.jpg" /></td>
            <td><img class="big" src="~/images/compressive/autumn/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>83.5kb</h3></td>
            <td><h3>75.3kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-dunes.jpg" /></td>
            <td><img class="big" src="~/images/compressive/dunes/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>17.7kb</h3></td>
            <td><h3>10kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-ladybird.jpg" /></td>
            <td><img class="big" src="~/images/compressive/ladybird/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>29.9kb</h3></td>
            <td><h3>18.4kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-model1.jpg" /></td>
            <td><img class="big" src="~/images/compressive/model1/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>40.6kb</h3></td>
            <td><h3>34.2kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-model2.jpg" /></td>
            <td><img class="big" src="~/images/compressive/model2/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>45kb</h3></td>
            <td><h3>36.6kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-model3.jpg" /></td>
            <td><img class="big" src="~/images/compressive/model3/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>51.3kb</h3></td>
            <td><h3>33.5kb</h3></td>
        </tr>
    </table>
    
    <table>
        <tr>
            <td><h2>Resized and displayed at 100%</h2></td>
            <td><h2>Browser scaled, saved at 0% qualilty</h2></td>
        </tr>
        <tr>
            <td><img src="~/images/compressive/500w-rocks.jpg" /></td>
            <td><img class="big" src="~/images/compressive/rocks/compressed_photoshop.jpg" /></td>
        </tr>
        <tr>
            <td><h3>70.2kb</h3></td>
            <td><h3>61.9kb</h3></td>
        </tr>
    </table>
</div>
