@model dynamic

@{
    ViewBag.Title = "Compressive Images";
    Layout = "../shared/_Layout.cshtml";
}


		<h1 class="font2">Compressive Images - Examples</h1>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-autumn.jpg" /><img src="~/images/compressive/125w-autumn.jpg" /><img src="~/images/compressive/125w-autumn.jpg" /><img src="~/images/compressive/125w-autumn.jpg" /><img src="~/images/compressive/125w-autumn.jpg" />
				<h3>83.5kb + 6.2kb = 89.7kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/autumn/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/autumn/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/autumn/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/autumn/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/autumn/compressed_photoshop.jpg" />
				<h3>75.3kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-dunes.jpg" /><img src="~/images/compressive/125w-dunes.jpg" /><img src="~/images/compressive/125w-dunes.jpg" /><img src="~/images/compressive/125w-dunes.jpg" /><img src="~/images/compressive/125w-dunes.jpg" />
				<h3>17.7kb + 2.8kb = 20.5kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/dunes/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/dunes/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/dunes/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/dunes/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/dunes/compressed_photoshop.jpg" />
				<h3>10kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-ladybird.jpg" /><img src="~/images/compressive/125w-ladybird.jpg" /><img src="~/images/compressive/125w-ladybird.jpg" /><img src="~/images/compressive/125w-ladybird.jpg" /><img src="~/images/compressive/125w-ladybird.jpg" />
				<h3>29.9kb + 4.3kb = 34.2kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/ladybird/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/ladybird/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/ladybird/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/ladybird/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/ladybird/compressed_photoshop.jpg" />
				<h3>18.4kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-model1.jpg" /><img src="~/images/compressive/125w-model1.jpg" /><img src="~/images/compressive/125w-model1.jpg" /><img src="~/images/compressive/125w-model1.jpg" /><img src="~/images/compressive/125w-model1.jpg" />
				<h3>40.6kb + 5.2kb = 45.8kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/model1/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model1/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model1/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model1/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model1/compressed_photoshop.jpg" />
				<h3>34.2kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-model2.jpg" /><img src="~/images/compressive/125w-model2.jpg" /><img src="~/images/compressive/125w-model2.jpg" /><img src="~/images/compressive/125w-model2.jpg" /><img src="~/images/compressive/125w-model2.jpg" />
				<h3>45kb + 5.7kb = 50.7kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/model2/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model2/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model2/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model2/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model2/compressed_photoshop.jpg" />
				<h3>36.6kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-model3.jpg" /><img src="~/images/compressive/125w-model3.jpg" /><img src="~/images/compressive/125w-model3.jpg" /><img src="~/images/compressive/125w-model3.jpg" /><img src="~/images/compressive/125w-model3.jpg" />
				<h3>51.3kb + 6.6kb = 57.9kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/model3/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model3/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model3/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model3/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/model3/compressed_photoshop.jpg" />
				<h3>33.5kb</h3>
			</li>
		</ul>
		<ul class="font2">
			<li>
				<h2>Two images;<br />Resized and displayed at 100%</h2>
				<img src="~/images/compressive/500w-rocks.jpg" /><img src="~/images/compressive/125w-rocks.jpg" /><img src="~/images/compressive/125w-rocks.jpg" /><img src="~/images/compressive/125w-rocks.jpg" /><img src="~/images/compressive/125w-rocks.jpg" />
				<h3>70.2kb + 6.3kb = 76.5kb</h3>
			</li>
			<li>
				<h2>One image; 0% qualilty<br />(Photoshop)</h2>
				<img class="big" src="~/images/compressive/rocks/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/rocks/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/rocks/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/rocks/compressed_photoshop.jpg" /><img class="small" src="~/images/compressive/rocks/compressed_photoshop.jpg" />
				<h3>61.9kb</h3>
			</li>
		</ul>
