@using ImageOptimization
@{
    ViewBag.Title = "DataURIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>DataURIs</h1>
    <p class="blurb">Data uri Data uri Data uri Data uri Data uri Data uri</p>
    <hr />
    <div align="center" style="margin-top: 10%;">
        <h2>Data URI with logo - 6.27KB</h2>
        @Html.DrawImage("/Images/datauri/asos-logo.png", "Asos logo")
    </div>
    <br />
    <br />
    <br />
    <div align="center">
        <h2>Data URI with sprite - 6.27KB</h2>
        @Html.DrawImage("/Images/datauri/site-flags.png", "Asos site flags")
    </div>
    </div>