@using ImageOptimization
@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="links" id="links">
    <h1>Data URIs</h1>
    <p class="blurb">
        The images below will either are embedded in the webpage using Data URIs. 
        If your browser doesnt support <a class="underline" href="http://en.wikipedia.org/wiki/Data_URI_scheme">Data URIs</a>, the images will fall back to their respective PNG files. 
        For more information about implementing this technique in your applications,
        take a look at <a class="underline" href="http://robinosborne.co.uk/2011/01/18/data-uri-scheme/">this link</a> and this <a class="underline" href="http://www.deanhume.com/Home/BlogPost/mvc-data-uri-html-helper/61">link.</a>
    </p>
    <hr />
    <h2>Data URI using a logo</h2>
    @Html.DrawImage("/Images/datauri/asos-logo.png", "Data URI - Asos logo", "125px", "48px")
    <h2>Data URI using a sprite</h2>
    @Html.DrawImage("/Images/sprites/flag-sprite.png", "Data URI - Sprite flags", "360px", "235px")
</div>