@{
    Layout = "../Shared/_Layout.cshtml";
}
<div align="center">
    <h1>Image Optimization Links</h1>
    <p><a href="/WebP">WebP Images</a></p>
    <p><a href="/Compressive">Compressive Images</a></p>
    <p><a href="/DataUri">Data URIs</a></p>
    <p><a href="/LazyLoad">Lazy Loading Images</a></p>
    <p><a href="/Sprites">Sprites</a></p>
    <p><a href="/Tools">Useful image optimization tools</a></p>
</div>
