@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="links" id="links">
    <h1>Image Optimization Links</h1>
    <p class="blurb">A small blurb about us and the velocity talk.A small blurb about us and the velocity talk.A small blurb about us and the velocity talk.</p>
    <hr/>
    <p><a href="/WebP">WebP Images</a></p>
    <p><a href="/Compressive">Compressive Images</a></p>
    <p><a href="/DataUri">Data URIs</a></p>
    <p><a href="/LazyLoad">Lazy Loading Images</a></p>
    <p><a href="/Sprites">Sprites</a></p>
    <p><a href="/Tools">Useful image optimization tools</a></p>
</div>
