@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="links" id="links">
    <h1>Image Optimization</h1>
    <p class="blurb">Thank you for logging onto this site. Please find a list of useful image optimization examples below.</p>
    <hr/>
    <p><a href="/WebP">WebP Images</a></p>
    <p><a href="/Compressive">Compressive Images</a></p>
    <p><a href="/DataUri">Data URIs</a></p>
    <p><a href="/LazyLoad">Lazy Loading Images</a></p>
    <p><a href="/Sprites">Sprites</a></p>
    <p><a href="/Tools">Useful image optimization tools</a></p>
</div>
