@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="links" id="links">
    <p><img src="/Images/image-optimization-logo.png" alt="Image Optimization Info Logo"/></p>
    <h1>Image Optimization</h1>
    <p class="blurb">The tools and techniques mentioned in Getting The LEAST Out Of Your Images.</p>
    <hr/>
    <p><a href="/WebP">WebP Images</a></p>
    <p><a href="/Compressive">Compressive Images</a></p>
    <p><a href="/DataUri">Data URIs</a></p>
    <p><a href="/LazyLoad">Lazy Loading Images</a></p>
    <p><a href="/Sprites">Sprites</a></p>
    <p><a href="/Tools">Useful image optimization tools</a></p>
    <p><a href="https://github.com/deanhume/ImageOptimizer">The source code - <span class="underline">Github repo</span></a></p>
</div>

