@using ImageOptimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Velocity Conference 2013 - WebP Images</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
    <style>
        body {font-family: 'Yanone Kaffeesatz', Arial, serif;}
        h1 { font-family: 'Yanone Kaffeesatz', Arial, serif;  }
    </style>
</head>
<body>
    <div align="center">
        <h1>WebP Image or JPG?</h1>
        @Html.DrawImage("/Images/test.jpg","This is a test image")
    </div>
        <div align="center">
        <h1>WebP Image or JPG?</h1>
        @Html.DrawImage("/Images/shard.jpg","Aqua Shard")
    </div>
</body>
</html>
