@using ImageOptimization
@{
    Layout = "../Shared/_Layout.cshtml";
}
    <div align="center">
        <h1>WebP Image or JPG?</h1>
        @Html.DrawImage("/Images/test.jpg","This is a test image")
    </div>
