@{
    ViewBag.Title = "Sprites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>Sprites</h1>
    <p class="blurb">A small blurb about us and the velocity talk.A small blurb about us and the velocity talk.A small blurb about us and the velocity talk.</p>
    <div><img src="@Url.Content("~/images/sprites/flag-sprite.png")"/></div>
    <p><div class="argentinaFlag"></div>Pakistani Flag</p>
</div>
