@{
    ViewBag.Title = "Sprites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>Sprites</h1>
    <p class="blurb">Combining many simple images into one, to reduce http requests. Use CSS to display the area you want</p>
    <div><img src="@Url.Content("~/images/sprites/flag-sprite.png")"/></div>
    <p><div class="argentinaFlag"></div>Pakistani Flag</p>
</div>
