@{
    ViewBag.Title = "CSS Sprites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>CSS Sprites</h1>
    <p class="blurb">Combining many simple images into one, in order to reduce HTTP requests and improve page load times. Use CSS to display only the area that you want.</p>
    <div><img alt="CSS Sprites" src="@Url.Content("~/images/sprites/flag-sprite.png")"/></div>
</div>
<hr/>
<ul id="flaglist">
    <li><div class="argentinaFlag"></div>Argentinian Flag</li>
    <li><div class="austrianFlag"></div>Austrian Flag</li>
</ul>

    
    
