@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>A list of useful tools.</h1>
    <hr />
    <h1>Jpeg Optimization Tools</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://freecode.com/projects/jpegoptim">JPEG Optim</a></p>
    <p><a href="http://jpegclub.org/jpegtran/">JPEG tran</a></p>
    <h1>Png Optimization Tools</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://pmt.sourceforge.net/pngcrush/">PNG Crush</a></p>
    <p><a href="http://advsys.net/ken/utils.htm">PNG Out</a></p>
    <h1>Gif Optimization Tools</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://www.lcdf.org/gifsicle/">Gifsicle</a></p>
    <h1>Responsive Image Tools</h1>
	<p><a href="https://github.com/andismith/grunt-responsive-images">Grunt Responsive Images</a></p>
	<p><a href="https://github.com/shiawuen/grunt-clowncar">Grunt Clowncar</a></p>
	<p><a href="https://github.com/excellenteasy/grunt-image-resize">Grunt Image Resizing</a></p>
	<h1>Online Tools & APIs</h1>
    <p><a href="http://www.smushit.com/ysmush.it/">Yahoo! Smush.it</a></p>
    <p><a href="http://kraken.io">Kraken</a></p>
    <p><a href="http://punypng.com/api">PunyPNG</a></p>
    <p><a href="http://webresizer.com">Web Resizer</a></p>
	<h1>Automated Performance Plugins (Grunt & Gulp)</h1>
	<p>Minify SVG images <a href="https://github.com/sindresorhus/grunt-svgmin">Grunt</a> and <a href="https://www.npmjs.org/package/gulp-svgmin">Gulp</a></p>
	<p>Convert images to WebP <a href="https://github.com/somerandomdude/grunt-webp">Grunt</a> and <a href="https://github.com/sindresorhus/gulp-webp">Gulp</a></p>
	<p>Build SVG sprites <a href="https://github.com/filamentgroup/grunticon">Grunt</a> and <a href="https://www.npmjs.org/package/gulp-svgmin">Gulp</a></p>
</div>


