@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="links" id="links">
    <h1>A list of useful optimization tools.</h1>
    @*<p class="blurb">The links below provide a list of useful image optimization tools.</p>*@
    <hr />
    <h1>Jpeg</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://freecode.com/projects/jpegoptim">JPEG Optim</a></p>
    <p><a href="http://jpegclub.org/jpegtran/">JPEG tran</a></p>
    <h1>Png</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://pmt.sourceforge.net/pngcrush/">PNG Crush</a></p>
    <p><a href="http://advsys.net/ken/utils.htm">PNG Out</a></p>
    <h1>Gif</h1>
    <p><a href="http://www.imagemagick.org/script/index.php">Image Magick</a></p>
    <p><a href="http://www.lcdf.org/gifsicle/">Gifsicle</a></p>
    <h1>Online Tools & APIs</h1>
    <p><a href="http://www.smushit.com/ysmush.it/">Yahoo! Smush.it</a></p>
    <p><a href="http://kraken.io">Kraken</a></p>
    <p><a href="http://punypng.com/api">PunyPNG</a></p>
    <p><a href="http://webresizer.com">Web Resizer</a></p>
</div>

