<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebPToolFolder" value="~/Tools" />
    <add key="ImagesFolder" value="~/Content/themes/base/images" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>