<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Optimisation</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Lobster' rel='stylesheet' type='text/css'>
    @*<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />*@
    <style>
        body {
            font-family: 'Yanone Kaffeesatz', Arial, serif;
            font-size: 25px;
        }

        h1 {
            font-family: 'Lobster', Arial, serif;
            font-size: 60px;
            text-rendering: optimizeLegibility;
        }

        .font2 {
            font-family: 'Lobster', cursive;
        }

            .font2 h2 {
                font-size: 20pt;
            }

            .font2 img.big {
                width: 500px;
            }

            .font2 img.small {
                width: 125px;
            }

            .font2 li {
                width: 515px;
                float: left;
            }

            .font2 ul {
                clear: both;
            }

        .links {
            text-align: center;
            margin-top: 5%;
            margin: 0 auto;
            width: 800px;
        }

        #links a {
            text-decoration: none;
            color: black;
        }

        .blurb {
            font-size: 30px;
            text-rendering: optimizeLegibility;
        }
    </style>
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts",false)
</body>
</html>
