<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Optimisation</title>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz|Lobster' rel='stylesheet' type='text/css'>
    <link href='@Url.Content("~/Css/styles.css")' rel='stylesheet' type='text/css' />
</head>
    <body>
        <div>
            <a href="/" class="MenuLink"><-- Menu</a>
        </div>
        @RenderBody()
        @RenderSection("Scripts",false)
    </body>
</html>
